<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="d-inline-flex">Wikinomous</div>
      <div class="d-inline-flex"><%= link_to "Create a new article", new_article_path %>
</div>
    </div>
    <%= yield %>
  </body>
</html>
